################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/ServerList/ServiceLister.ICommon/obj/Debug
/source/ServerList/ServiceLister.ICommon/bin/Debug
/source/ServerList/ServiceLister.Common/bin/Debug
/source/ServerList/ServiceLister.Common/obj/Debug
/source/ServerList/ServerLister.Interfaces/bin/Debug
/source/ServerList/ServerLister.Interfaces/obj/Debug
/source/ServerList/ServerLister.Implementations/bin/Debug
/source/ServerList/ServerLister.Implementations/obj/Debug
/source/ServerList/ServerLister/bin/Debug
/source/ServerList/ServerLister/obj/Debug
/source/ServerList/ConnectionTests/bin/Debug
/source/ServerList/ConnectionTests/obj/Debug
/source/ServerList/packages
